
<html class=""><head>

<html class="">
<head>


<link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css">
<style class="cp-pen-styles"></style>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src ="/static/app1.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a href="#">
          <h1>CAR CONTROL</h1>
        </a>
      </div>
    </div>
  </nav>

<div class="container">
        <div class="jumbotron">
  <div class="text-center">
       <button id ="up" ><img src="/static/Up-50.png" /></button>
      <br/>&nbsp;&nbsp;
 <button id ="left" ><img src="/static/Left-50.png" /></button>
&nbsp;&nbsp;
 <button id ="right" ><img src="/static/Right-50.png" /></button>
      &nbsp;&nbsp;
<br/> <button id ="bottom" ><img src="/static/Down-50.png" /></button>


<br/>
<br/>

 <button id ="stop" ><img src="/static/Stop Sign-52.png" /></button>

  </div>

  </div>
        </div>
  </div>
<center><footer>This page is built by a passionate programmer</footer></center>
</body>
</html>