<html class=""><head>
    <link rel="stylesheet prefetch" href="/static/css/bootstrap.min.css">
    <script src="/static/jquery-2.2.4.min.js"></script>

<link rel="stylesheet prefetch" href="/static/css/weather-icons.min.css">
<style class="cp-pen-styles"></style>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src ="/static/app.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.google.com/maps-api-v3/api/js/26/11/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.google.com/maps-api-v3/api/js/26/11/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.google.com/maps-api-v3/api/js/26/11/geocoder.js">
    </script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a href="#">
          <h1>GET WEATHER F<i class="wi wi-hail"></i>RECAST</h1>
        </a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="jumbotron">
      <div class="text-center"><b id="temperature">20.0000</b><a href="#" id="toggle">
            <b id="txt">Celcius</b>
          </a>
      </div>
      <h3 id="city" class="text-center"> Gainesville</h3>
      <h1 class="text-center">
    <i class="wi wi-day-cloudy" id="weather-icon"></i>
  </h1>
        <div class="text-center">
            <button class="btn btn-primary" id="btnclick" >GET TEMP</button>
        </div>
    </div>
  </div>

  <div class="text-center">
    <footer>This page is built by Raviteja Ganireddy</footer>
  </div>
</body></html>